body {
    background: rgb(110, 101, 231);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-items: center;
}

.link {
    color: rgb(110, 101, 231);
    background: white;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin: 400px;
    min-height: 10vh;
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.photo {
    border-radius: 50px;
    width: 150px;
    border: solid 5px;
}

.spacer {
    margin: 50px 0;
}